# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# jupyter notebook
*ipynb

# Operating System files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
venv/
env/

# Project-specific local data
mock_data/
image*.png

# Keep git history clean of auxiliary markdown notes/docs
*.md
!README.md

# Session Cache
.lumi_cache/